In [37]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [38]:
df = pd.read_csv("recentlySold.csv")

In [39]:
df

,ID,Type,Attributes,Attribute Count,Recent Sale Price,Recent Offer,Recent Bid
0,CryptoPunk 1556,Female,"['Pigtails', 'Purple Lipstick', 'Earring']",3,"81Ξ ($306,926)","92.95Ξ ($350,163)","42Ξ ($94,005)"
1,CryptoPunk 3708,Male,"['Peak Spike', 'Muttonchops', 'Earring']",3,"66Ξ ($246,207)","66Ξ ($250,878)","64Ξ ($242,533)"
2,CryptoPunk 5879,Female,"['Green Eye Shadow', 'Earring', 'Straight Hair...",3,"69.95Ξ ($265,446)","69.95Ξ ($270,511)","68Ξ ($278,892)"
3,CryptoPunk 2376,Male,"['Handlebars', 'Headband']",2,"67Ξ ($254,252)","73.95Ξ ($280,625)","16Ξ ($60,646)"
4,CryptoPunk 1639,Male,"['Shadow Beard', 'Mohawk']",2,"65.95Ξ ($251,007)","65.95Ξ ($255,042)","58Ξ ($239,453)"
...,...,...,...,...,...,...,...
475,CryptoPunk 3842,Female,"['Bandana', 'Regular Shades']",2,"86.80Ξ ($387,503)","86.80Ξ ($368,779)","76Ξ ($322,894)"
476,CryptoPunk 7877,Female,"['Purple Lipstick', 'Straight Hair Dark', 'Cig...",3,"87.95Ξ ($392,637)","87.95Ξ ($382,672)","41.50Ξ ($104,865)"
477,CryptoPunk 621,Male,"['Peak Spike', 'Earring', 'Normal Beard', 'Smi...",5,"130Ξ ($580,362)","140Ξ ($598,475)","130Ξ ($553,962)"
478,CryptoPunk 4613,Male,"['Frumpy Hair', 'Regular Shades']",2,275Ξ ($1.19M),"275Ξ ($891,217)","95Ξ ($410,740)"
479,CryptoPunk 3616,Female,"['Black Lipstick', 'Purple Eye Shadow', 'Blond...",3,"130Ξ ($517,852)","74.94Ξ ($303,020)","130Ξ ($517,852)"

In [40]:
# get all CryptoPunk attributes into a list using code, instead of copy & paste
import requests
from requests import get
from bs4 import BeautifulSoup

allAttributes = []

page = "https://www.larvalabs.com/cryptopunks/attributes"
request = requests.get(page)
soup = BeautifulSoup(request.text)
details = soup.find_all("tr", class_="center attribute-row")

for detail in details:
    allAttributes.append(detail.td.a.text)
    
allAttributes = allAttributes[5:-8] # ignore things that aren't actually attributes
allAttributes

['Beanie',
 'Choker',
 'Pilot Helmet',
 'Tiara',
 'Orange Side',
 'Buck Teeth',
 'Welding Goggles',
 'Pigtails',
 'Pink With Hat',
 'Top Hat',
 'Spots',
 'Rosy Cheeks',
 'Blonde Short',
 'Wild White Hair',
 'Cowboy Hat',
 'Wild Blonde',
 'Straight Hair Blonde',
 'Big Beard',
 'Red Mohawk',
 'Half Shaved',
 'Blonde Bob',
 'Vampire Hair',
 'Clown Hair Green',
 'Straight Hair Dark',
 'Straight Hair',
 'Silver Chain',
 'Dark Hair',
 'Purple Hair',
 'Gold Chain',
 'Medical Mask',
 'Tassle Hat',
 'Fedora',
 'Police Cap',
 'Clown Nose',
 'Smile',
 'Cap Forward',
 'Hoodie',
 'Front Beard Dark',
 'Frown',
 'Purple Eye Shadow',
 'Handlebars',
 'Blue Eye Shadow',
 'Green Eye Shadow',
 'Vape',
 'Front Beard',
 'Chinstrap',
 '3D Glasses',
 'Luxurious Beard',
 'Mustache',
 'Normal Beard Black',
 'Normal Beard',
 'Eye Mask',
 'Goat',
 'Do-rag',
 'Shaved Head',
 'Muttonchops',
 'Peak Spike',
 'Pipe',
 'VR',
 'Cap',
 'Small Shades',
 'Clown Eyes Green',
 'Clown Eyes Blue',
 'Headband',
 'Crazy Hair',
 'Knitted Cap',
 'Mohawk Dark',
 'Mohawk',
 'Mohawk Thin',
 'Frumpy Hair',
 'Wild Hair',
 'Messy Hair',
 'Eye Patch',
 'Stringy Hair',
 'Bandana',
 'Classic Shades',
 'Shadow Beard',
 'Regular Shades',
 'Horned Rim Glasses',
 'Big Shades',
 'Nerd Glasses',
 'Black Lipstick',
 'Mole',
 'Purple Lipstick',
 'Hot Lipstick',
 'Cigarette',
 'Earring']

In [41]:
# https://towardsdatascience.com/dealing-with-list-values-in-pandas-dataframes-a177e534f173
def boolean_df(item_lists, unique_items):
# Create empty dict
    bool_dict = {}
    
    # Loop through all the tags
    for i, item in enumerate(unique_items):
        
        # Apply boolean mask
        bool_dict[item] = item_lists.apply(lambda x: item in x)
            
    # Return the results as a dataframe
    return pd.DataFrame(bool_dict)

# convert the lists from the Attributes column of the dataframe into a boolean dataframe.
attributes_bool = boolean_df(df["Attributes"], allAttributes)

In [42]:
attributes_bool

,Beanie,Choker,Pilot Helmet,Tiara,Orange Side,Buck Teeth,Welding Goggles,Pigtails,Pink With Hat,Top Hat,...,Regular Shades,Horned Rim Glasses,Big Shades,Nerd Glasses,Black Lipstick,Mole,Purple Lipstick,Hot Lipstick,Cigarette,Earring
0,False,False,False,False,False,False,False,True,False,False,...,False,False,False,False,False,False,True,False,False,True
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
475,False,False,False,False,False,False,False,False,False,False,...,True,False,False,False,False,False,False,False,False,False
476,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,True,False,True,False
477,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
478,False,False,False,False,False,False,False,False,False,False,...,True,False,False,False,False,False,False,False,False,False
479,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,True,False,False,False,False,False

In [43]:
df['Recent Sale Price'] = df['Recent Sale Price'].str.split('Ξ') #isolate for the number before ethereum symbol
df['Recent Sale Price'] = df.apply(lambda row : row['Recent Sale Price'][0], axis = 1) # select that number only

In [53]:
df = df[df['Recent Sale Price'] != '<0.01'] # ignore values where it was sold for free

In [56]:
# Some values are listed as 2.5K, or 2.5M. We want to get rid of the K or M and put them in the same scale as the rest of the values.
def sameScale(val):
    if val[-1] == 'K':
        return float(val[:-1]) * 1000
    elif val[-1] == 'M':
        return float(val[:-1]) * 1000000
    else: return val
    
df['Recent Sale Price'] = df.apply(lambda row : sameScale(row['Recent Sale Price']), axis = 1)

C:\Users\cpche\Anaconda3\lib\site-packages\ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':

In [57]:
#convert to float
df['Recent Sale Price'] = df['Recent Sale Price'].astype(float)

C:\Users\cpche\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.